<ion-header>
  <ion-toolbar  mode="md" color="primary">
    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
   
    <ion-title> ABA Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="ion-no-margin">

  <ion-row class="ion-align-items-center acc_summury">
    
    <ion-card class="ion-no-margin">
      
      <ion-row  class="ion-align-items-center" class="ion-margin">
        <ion-col size="6" >
          <ion-text color="light">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'skyblue'"
            [innerStrokeColor]="'skyblue'"
            [titleColor]="'#fff'"
            [animation]="false"
            [responsive]="true"
            [animationDuration]="300">
          </circle-progress>
          </ion-text>
        </ion-col>
        <ion-col size="6" style="margin: auto; width:100%; ">

         <ion-row  >
         
          <ion-col size="12">
            <ion-row style="border-bottom: 2px solid #fff ;">
              <ion-col size="12">
                <ion-text  color="light">
                <p >Total in USD </p>
              <h3 >$ 100  </h3>
            </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-text  color="light">
              
              <p >Total in KHR </p>
              <h3>៛​ 10,000  </h3>

            </ion-text>
              </ion-col>
            </ion-row>
            
            
          </ion-col>
         </ion-row>

        </ion-col>
      </ion-row>

    </ion-card>

  </ion-row>
  <ion-row class="accounts">
    <ion-card class="visa" mode="md" >
      <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-row >
        <ion-col size="12">
          <ion-text color="dark">
            <h5 class="ion-no-margin"> Savings Account with ATM ficilt </h5> 
            
            <p class="ion-no-margin">001772656 | Savings </p> 
            <img class="" src="assets/icon/visa.png" style="width:30px;" alt="">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>
  <ion-row class="accounts">
    <ion-card class="visa" mode="md">
      <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-row >
        <ion-col size="12">
          <ion-text color="dark">
            <h5 class="ion-no-margin"> Savings Account with ATM ficilt </h5> 
            
            <p class="ion-no-margin">001772656 | Savings </p> 
            <img class="" src="assets/icon/visa.png" style="width:30px;" alt="">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>
  <ion-row class="accounts">
    <ion-card class="visa" mode="md">
      <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-row >
        <ion-col size="12">
          <ion-text color="dark">
            <h5 class="ion-no-margin"> Savings Account with ATM ficilt </h5> 
            
            <p class="ion-no-margin">001772656 | Savings </p> 
            <img class="" src="assets/icon/visa.png" style="width:30px;" alt="">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>
  
</ion-content>
