<ion-header>
  <ion-toolbar mode="md" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title> ABA New Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-align-items-center acc_summury">

    <ion-card class="ion-no-margin">

      <ion-row class="ion-align-items-center" class="ion-margin">



      </ion-row>

    </ion-card>

  </ion-row>
  <ion-row class="accounts">
    <ion-item lines="none">
      
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

  <ion-row class="accounts">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text>
        <h3>Mobile Fixed Deposit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem </p>
        <pre>MAKE NEW DEPOSIT ></pre>
      </ion-text>

    </ion-item>
  </ion-row>

</ion-content>