<app-side-menu></app-side-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar mode="md" color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ABA</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="qr-code"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content scrollY="false" class="ion-no-margin">


    <ion-row class="warpp">
      <ion-col size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" id="accounts" [routerLink]="['/account']" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/accounts.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col id="cards" size="4" class="ion-no-padding ion-text-center grid">

        <ion-card mode="md" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/card.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col id="payments" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" [routerLink]="['/payments']" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/payments.png"></ion-img>
        </ion-card>

      </ion-col>
    </ion-row>


    <ion-row class="warpp">
      <ion-col id="newaccounts" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md"  [routerLink]="['/newaccount']" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/newaccounts.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col id="ecash" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/ecash.png"></ion-img>
        </ion-card>

      </ion-col>
      <ion-col id="transfers" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" [routerLink]="['/transfers']" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/transfers.png"></ion-img>
        </ion-card>

      </ion-col>
    </ion-row>


    <ion-row class="warpp">
      <ion-col id="qr" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/qr.png"></ion-img>
        </ion-card>

      </ion-col>
      <ion-col id="loans" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/loans.png"></ion-img>
        </ion-card>

      </ion-col>
      <ion-col id="services" size="4" class="ion-no-padding ion-text-center grid">
        <ion-card mode="md" class="ion-no-margin" color="aba">
          <ion-img src="assets/icon/home/services.png"></ion-img>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-footer class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row class="bc-transfer">
          <ion-card class="ion-no-margin">
            <ion-row>
              <ion-col size="8">

                <ion-text color="light">
                  <h5>Quick Transfer</h5>
                  <p>Create your templates her ot make transfer quicker</p>
                </ion-text>

              </ion-col>
              <ion-col size="4">

                <ion-img [src]="image" style="object-fit: cover ; height: 19vh;"></ion-img>

              </ion-col>
            </ion-row>

          </ion-card>

        </ion-row>
        <ion-row class="bc-payment">
          <ion-card class="ion-no-margin">
            <ion-row>
              <ion-col size="8">
                <ion-text color="light">
                  <h5>Quick Payment</h5>
                  <p>Paying your bills with templates is faster</p>
                </ion-text>

              </ion-col>
              <ion-col size="4">
                <ion-img [src]="image" style="object-fit: cover; height: 19vh;"></ion-img>

              </ion-col>
            </ion-row>

          </ion-card>

        </ion-row>
      </ion-grid>

    </ion-footer>
  </ion-content>
</div>